{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>StudyBuff - Minhas Tarefas</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    
    <style>
        body {
            background-color: #000000;
            color: #fff;
        }

        .navbar {
            background-color: #000000;
        }

        .list-group-item {
            background-color: #000000;
            color: #fff;
            border-color: #dee2e6;
        }

        .badge {
            font-size: 14px;
            margin-left: auto;
        }

        .badge-primary {
            background-color: #007bff;
        }

        .badge-success {
            background-color: #28a745;
        }

        /* Botões de ação */
        .acoes-tarefa {
            display: flex;
            align-items: center;
        }

        .acoes-tarefa a {
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>
</head>

<body>

    <header>
        <nav class="caixa-navbar navbar navbar-expand-sm navbar-light">
            <div class="container">
                <a href="{% url 'tarefas:index' %}" class="navbar-brand">
                    <img src="{% static 'img/logo.png' %}" width="142" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a style="color:white;" class="nav-link" href="{% url 'tarefas:index' %}">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section style="margin-top:80px;" id="tarefas">
        <div class="container">
            <!-- FEEDBACK PRO USUÁRIO -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-{{message.tags}}">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
    
            <div class="row">
                <div class="col-md-12">
                    <h2>Minhas Tarefas</h2>
    
                    {% if not tarefas_em_andamento %}
                        <p>Você não tem nenhuma tarefa em andamento.</p>
                        <div class="input-group-append">
                            <a href="#" id="botao_nova_tarefa" style="background-color: #222769; border-color: #222769;"
                                class="btn btn-primary" data-toggle="modal" data-target="#modalNovaTarefa">
                                Criar tarefa
                            </a>
                        </div>
                    {% else %}
                        <ul class="list-group">
                            {% for tarefa in tarefas_em_andamento %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="tarefa-info">
                                        <h5>{{ tarefa.titulo }}</h5>
                                        <p class="mb-1">{{ tarefa.descricao }}</p>
                                        <small>Data: {{ tarefa.data }} - Hora: {{ tarefa.hora }}</small>
                                    </div>
                                    <span class="badge badge-primary">Em Andamento</span>
                                    <div class="acoes-tarefa">
                                        <a href="{% url 'tarefas:editar_tarefa' tarefa.pk %}" class="btn btn-outline-dark btn-sm">Editar</a>
                                        <a href="{% url 'tarefas:excluir_tarefa' tarefa.pk %}" class="btn btn-outline-danger btn-sm">Excluir</a>
                                        <a href="{% url 'tarefas:finalizar_tarefa' tarefa.pk %}" class="btn btn-success btn-circle btn-md"><i class="fas fa-check"></i></a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    
    <section style="margin-top:120px;" id="tarefas-concluidas">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Tarefas Concluídas</h2>
    
                    {% if not tarefas_concluidas %}
                        <p>Você não tem nenhuma tarefa concluída.</p>
                    {% else %}
                        <ul class="list-group">
                            {% for tarefa in tarefas_concluidas %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="tarefa-info">
                                        <h5>{{ tarefa.titulo }}</h5>
                                        <p class="mb-1">{{ tarefa.descricao }}</p>
                                        <small>Data: {{ tarefa.data }} - Hora: {{ tarefa.hora }}</small>
                                    </div>
                                    <span class="badge badge-success">Concluída</span>
                                    <div class="acoes-tarefa">
                                        <a href="{% url 'tarefas:editar_tarefa' tarefa.pk %}" class="btn btn-outline-dark btn-sm">Editar</a>
                                        <a href="{% url 'tarefas:excluir_tarefa' tarefa.pk %}" class="btn btn-outline-danger btn-sm">Excluir</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Modal Nova Tarefa -->
  <div style="margin-top: 60px;" class="modal fade" id="modalNovaTarefa" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #000000; color: white;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar Tarefa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true" style="color: white;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <!-- Formulário de criação de tarefa -->
        <form action="{% url 'tarefas:criar_tarefa' %}" method="POST" id="formNovaTarefa">
            {% csrf_token %}
            <div class="form-group">
              <label for="tituloTarefa">Título</label>
              <input type="text" class="form-control" id="tituloTarefa" name="tituloTarefa"
                placeholder="Título da Tarefa" required>
            </div>
            <div class="form-group">
              <label for="descricaoTarefa">Descrição</label>
              <textarea class="form-control" id="descricaoTarefa" name="descricaoTarefa"
                placeholder="Descrição da Tarefa" rows="3" required></textarea>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="dataTarefa">Data</label>
                <input type="date" class="form-control" id="dataTarefa" name="dataTarefa" required>
              </div>
              <div class="form-group col-md-6">
                <label for="horarioTarefa">Horário</label>
                <input type="time" class="form-control" id="horarioTarefa" name="horarioTarefa" required>
              </div>
            </div>
            <button style="background-color:#222769; border-color:#222769;" type="submit"
              class="btn btn-primary btn-block">Criar
              Tarefa</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

</html>
