*{
	margin: 0;
	padding: 0;
}

#Home{
	background: #000000;
	color: white;
}

#caixa-principal-row{
	border: 2px solid blue;
}

.caixa{
	padding: 60px 0;
	border-bottom: 5px solid #202239;
}

.caixa-navbar{
	border-bottom: 5px solid #202239;
}

footer p a{
	margin: 5px 15px;
	text-decoration: none;
}